<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱情鲜花</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font/iconfont.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profess.css">
</head>
<body>
<%- include header.ejs%>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 af-header-lb text-center">
            <img src="/images/after-sale/banner-top.jpg" alt="">
            <span><%= telword%></span>
        </div>
    </div>
</div>
<div class="container div-cont">
<div class="row">
    <% if (telword == '花之选择') { -%>
        <br><br>
        <div class="row">
            <div class="chioce">
                <div class="j_row">
                    <div class="heads">
                        <h4><span class="title">场景</span></h4>
                    </div>
                    <div class="bodys">
                        <div class="body_intems">
                            <div class="intem">
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">爱情鲜花</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">婚庆鲜花</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">感恩鲜花</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">道歉鲜花</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">商务鲜花</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">生日鲜花</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">探病鲜花</span>
                                </a>
                            </div>
                        </div>
                        <div class="btns">
                            <span class="bosum">提交</span>
                            <span class="bocancel">取消</span>
                        </div>
                    </div>
                </div>
                <div class="j_row">
                    <div class="heads">
                        <h4><span class="title">种类</span></h4>
                    </div>
                    <div class="bodys">
                        <div class="body_intems">
                            <div class="intem">
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">红玫瑰</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">白玫瑰</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">黄玫瑰</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">粉玫瑰</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">紫玫瑰</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">香槟玫瑰</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">康乃馨</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">百合</span>
                                </a>
                            </div>
                        </div>
                        <div class="btns">
                            <span class="bosum">提交</span>
                            <span class="bocancel">取消</span>
                        </div>
                    </div>
                </div>
                <div class="j_row">
                    <div class="heads">
                        <h4><span class="title">对象</span></h4>
                    </div>
                    <div class="bodys">
                        <div class="body_intems">
                            <div class="intem">
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">恋人</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">爱人</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">好友</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">长辈</span>
                                </a>
                            </div>
                        </div>
                        <div class="btns">
                            <span class="bosum">提交</span>
                            <span class="bocancel">取消</span>
                        </div>
                    </div>
                </div>
                <div class="j_row">
                    <div class="heads">
                        <h4><span class="title">规格</span></h4>
                    </div>
                    <div class="bodys">
                        <div class="body_intems">
                            <div class="intem">
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">09枝</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">10-19枝</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">20-29枝</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">30-49枝</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">50-69枝</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">70枝以上</span>
                                </a>
                            </div>
                        </div>
                        <div class="btns">
                            <span class="bosum">提交</span>
                            <span class="bocancel">取消</span>
                        </div>
                    </div>
                </div>
                <div class="j_row">
                    <div class="heads">
                        <h4><span class="title">价格区间</span></h4>
                    </div>
                    <div class="bodys">
                        <div class="body_intems">
                            <div class="intem">
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">99-199</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">200-399</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">400-599</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">600-799</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">800-999</span>
                                </a>
                                <a href="#" title="" class="icon_tag">
                                    <span class="icon_check"></span>
                                    <span class="bo_text">1000以上</span>
                                </a>
                            </div>
                        </div>
                        <div class="btns">
                            <span class="bosum">提交</span>
                            <span class="bocancel">取消</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else { -%>
        
    <% } -%>
    <div class="col-lg-1"></div>
    <div class="col-lg-10 row-div" onselectstart="return false;">
        <p class="pro-sort" id="pro-sort">
            <% if (facts == 'cpre') { -%>
                <span class="span-xl btnsck"><a href="/flower/<%= ports%>1/cpre" title="">综合</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/sales" title="">销量</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/pricehig" title="">价格</a><i class="iconfont icon-sanjiaoxing-down"></i></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/timenew" title="">最新</a></span>
            <% } else if (facts == 'sales'){ -%>
                <span class="span-xl"><a href="/flower/<%= ports%>1/cpre" title="">综合</a></span>
                <span class="span-xl btnsck"><a href="/flower/<%= ports%>1/sales" title="">销量</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/pricehig" title="">价格</a><i class="iconfont icon-sanjiaoxing-down"></i></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/timenew" title="">最新</a></span>
            <% } else if (facts == 'pricehig'){ -%>
                <span class="span-xl"><a href="/flower/<%= ports%>1/cpre" title="">综合</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/sales" title="">销量</a></span>
                <span class="span-xl btnsck"><a href="/flower/<%= ports%>1/pricelow" title="">价格</a><i class="iconfont icon-sanjiaoxing-down"></i></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/timenew" title="">最新</a></span>
            <% } else if (facts == 'pricelow'){ -%>
                <span class="span-xl"><a href="/flower/<%= ports%>1/cpre" title="">综合</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/sales" title="">销量</a></span>
                <span class="span-xl btnsck"><a href="/flower/<%= ports%>1/pricehig" title="">价格</a><i class="iconfont icon-sanjiaoxing-up"></i></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/timenew" title="">最新</a></span>
            <% } else if (facts == 'timenew'){ -%>
                <span class="span-xl"><a href="/flower/<%= ports%>1/cpre" title="">综合</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/sales" title="">销量</a></span>
                <span class="span-xl"><a href="/flower/<%= ports%>1/pricehig" title="">价格</a><i class="iconfont icon-sanjiaoxing-down"></i></span>
                <span class="span-xl btnsck"><a href="/flower/<%= ports%>1/timenew" title="">最新</a></span>
            <% } -%>

        </p>
    </div>
</div>

<% for(var i = 0; i < flowers.length; i++) {%>

<div class="col-lg-2 col-md-2 col-xs-2 div-pro text-center">
    <div>
        <a href="/flowerPars/<%= flowers[i].f_id %>"><img src="/images/img/<%= flowers[i].f_url %>"  alt=""></a>
    </div>
    <p><%=flowers[i].f_name %></p>
    <p><%= flowers[i].f_word %></p>
    <p>价格：<%= flowers[i].f_p %></p>
</div>
<% } %>
    <!--//上一页和下一页-->

    <div class="row row-div2">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-6 text-right" id="row-divS">
            <% if(pageNow<2){ %>
            <span><a href="/flower/<%= ports%>1/<%= facts%>" title="">上一页</a></span>
            <%}else { %>
            <span><a href="/flower/<%= ports%><%= (pageNow-1) %>/<%= facts%>" title="">上一页</a></span>
            <% } %>
            <span>第<%= pageNow%>页</span>
            <% if(pageCount == undefined) { %>
            <span>总共有<%= pageCount %>页</span>
            <% } else { %>
            <span>总共有<%= pageCount %>页</span>
            <% } %>
            <% if(pageNow >= pageCount){ %>
            <span><a href="/flower/<%= ports%><%= pageCount%>/<%= facts%>" title="">下一页</a></span>
            <% }else { %>
            <span><a href="/flower/<%= ports%><%= (pageNow+1)%>/<%= facts%>" title="">下一页</a></span>
            <% } %>
        </div>
    </div>
</div>
<%- include footer.ejs%>
<script src="/JavaScript/jquery-3.2.1.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $('.quitess').on("click",function () {
        $.ajax({
            url:"/quite",
            type:"post",
            success:function (data) {
                console.log(data)
                if(data=="1"){
                    //location.href="../";
                    location.href = window.location.href;
                    
                }
                else{
                    // $(".loginpromit").css("display","block")
                    $(".loginpromit").html("!账号或密码不正确")
                }
            }
        })
    });

    // $(".span-xl").click(function () {
    //     $(this).children().toggleClass("span-i")
    // })

    // function clickChange(btn){
    //     for (var i = 0; i < btn.length; i++) {//遍历按钮
    //         var a = btn[i];
    //         a.index = i;
    //         btn[i].onclick = function(){//点击时
    //             console.log(grade);
    //             for (var i = 0; i < btn.length; i++) {
    //                 btn[i].className = 'span-xl';
    //             }
    //             this.className += ' btnsck';
                
    //         };
    //     }
    //     return true;
    // }

    // var grade = document.getElementById('pro-sort').getElementsByTagName('span');

    // clickChange(grade);

</script>
</body>
</html>